/* Scss Document */

/* ============================================= */
/*                 Header                        */
/* ============================================= */

header {
	display: column;
	justify-content: space-around;
	text-align: center;
	padding-bottom: 1em;
	@include mq(laptop) {
		display: flex;
	}
}