/* Scss Document */

/* ============================================= */
/*              Forms                            */
/* ============================================= */
 
[type="search"] {
	font-size: 1.5em;
	font-weight: bolder;
	border: black solid 1px;
	border-radius: 4px;
	margin: 19.92px 0;
	&:focus {
		outline: 0;
		&::placeholder {
			transition: color .6s;
			color: transparent;
		}
	}
	background-image: url('../photos/search-icon2.png');
	background-size: 26px 26px;
	background-position: 2px 1.6px;
	background-repeat: no-repeat;
	padding-left: 30px;
}

::placeholder {
	color: black;
	opacity: 1;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}