// Scss Document //

/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
	font-family: 'Dancing Script', cursive;
	color: #282828;
	font-weight: 600;
}